ul {
    margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  color:black;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color:white;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-link:hover {
  color: #FD6168;
}

.nav-logo {
  font-size: 1rem;
  font-weight: 500;
  color: #FD6168;
}

@media only screen and (max-width: 768px) {

  .nav-menu {
    align-items: flex-start;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: white;
    width: 90%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
