<header>
    <nav class="navbar d-flex justify-content-between align-items-center w-100">
        <a href="#"><img [src]="imageSource" alt="logo" class="nav-logo"></a>
        <ul [ngClass]="{'active' : openedMobileMenu === true}" class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Compétences</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Réalisations</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Mode</a>
            </li>
        </ul>
        <div [ngClass]="{'active' : openedMobileMenu === true}" (click)="mobileMenu()" class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>