footer {
  background-color: #303134;
  height: 120px;
}

.bi {
  font-size: 1.2rem;
  color: rgba(245, 245, 245, 0.694);
}

.bi:hover {
  color: #e9b44b;
}

.copyright {
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0;
}

a:hover {
  color: #e9b44b;
}
