<form (ngSubmit)="myContactForm.valid && onSubmit()" [formGroup]="contactForm" #myContactForm="ngForm">
    <div class="container col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="firstName" placeholder="John"
                        formControlName="firstName">
                    <label for="firstName">Prénom</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="lastName" placeholder="Doe" formControlName="lastName">
                    <label for="lastName">Nom</label>
                </div>
            </div>
        </div>
        <div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="johndoe@gmail.com"
                    formControlName="email">
                <label for="email">Adresse email</label>
            </div>
        </div>
        <div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="message" formControlName="message"
                    style="height: 100px"></textarea>
                <label for="message">Message</label>
            </div>
        </div>
        <div>
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
        </div>
        <button class="myButton mt-3" type="submit">ENVOYER</button>
    </div>
</form>