<section class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10">
            <h2 id="about">A PROPOS</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-md-10 col-11 flex-column d-flex justify-content-center align-items-center">
            <img src="/assets/img/portrait-vianney-accart.png" alt="Un portrait de Vianney Accart">
            <p class="text-center intro">Mon rôle est de concevoir des solutions à la fois performantes, intuitives et
                responsive, qui s'adaptent à vos
                besoins.</p>
        </div>
        <div class="col-xl-7 col-md-9 col-11">
            <div class="progress">
                <div class="progress-bar" role="progressbar">HTML</div>
                <div class="coloredBar" role="progressbar" style="width: 73%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">CSS</div>
                <div class="coloredBar" role="progressbar" style="width: 70%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">JavaScript</div>
                <div class="coloredBar" role="progressbar" style="width: 55%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">TypeScript</div>
                <div class="coloredBar" role="progressbar" style="width: 52%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">Angular</div>
                <div class="coloredBar" role="progressbar" style="width: 60%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">Java</div>
                <div class="coloredBar" role="progressbar" style="width: 58%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">SQL</div>
                <div class="coloredBar" role="progressbar" style="width: 47%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">Spring</div>
                <div class="coloredBar" role="progressbar" style="width: 40%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar">WordPress</div>
                <div class="coloredBar" role="progressbar" style="width: 60%"></div>
            </div>
        </div>
    </div>
</section>