<section class="container-fluid d-flex justify-content-center">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-10 col-md-11 d-flex justify-content-center flex-column">
            <div class="row">
                <p class="title">Hello, je suis <span class="highlightWords">Vianney Accart</span>.</p>
                <h1>Développeur web et mobile full-stack</h1>
                <a class="bounce text-center" routerLink="/" fragment="about"><i class="bi bi-arrow-down-circle mt-4"></i></a>
            </div>
        </div>
    </div>
</section>