.card {
  background-color: #202124;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.413) 1px 1px 5px;
}

h3 {
  color: #e9b44b;
  font-size: 1.3rem;
  margin: 0;
  font-weight: 500;
}

.technologies {
  margin-bottom: 30px;
  font-weight: 100;
}

.myButton {
  width: 14rem;
  height: 50px;
  border: solid 1px whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  font-weight: 100;
  font-size: 1.2rem;
}

.myButton:hover {
  border: solid 1px #e9b44b;
  color: #e9b44b;
}

@media screen and (max-width: 460px) {

  h3 {
    font-size: 1rem;
  }
}