<div *ngIf="project" class="card">
    <div [ngClass]="{'active': openedMoreDetails === true}" class="moreDetails">
        <div class="row closeButtonContainer d-flex align-items-center">
            <div class="col-10"></div>
            <div (click)="moreDetails()" class="col-2">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="row descriptionContainer overflow-auto">
            <h3 class="moreDetailsElements">{{project.name}}</h3>
            <p class="moreDetailsElements">{{project.type}}</p>
            <p class="technologies moreDetailsElements">{{project.languages}}</p>
            <p class="description">{{project.description}}</p>
        </div>
        <div class="row visitButtonContainer d-flex align-items-center">
            <a href="{{project.url}}" target="_blank" rel="noopener noreferrer"><button (click)="moreDetails()" class="btn myButton">VISITER LE SITE</button></a>
        </div>
    </div>

    <img src="{{project.image}}" class="card-img-top"
        alt="Images qui présentent le site {{project.name}}">
    <div class="card-body">
        <h3>{{project.name}}</h3>
        <p>{{project.type}}</p>
        <p class="technologies">{{project.languages}}</p>
        <div (click)="moreDetails()" class="btn myButton">EN SAVOIR PLUS</div>
    </div>
</div>