<section class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <h2 id="realisations">REALISATIONS</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="container col-10 d-flex justify-content-center">
            <app-project class="col-12 col-md-6 col-xl-4 my-3 px-3" *ngFor="let project of realisations"
                [project]="project"></app-project>
        </div>
    </div>
</section>